.chart_container{
    display: flex;
    justify-content: space-evenly !important;
    align-items: center !important;
    height: 500px;

}

@media only screen and (max-width: 1022px){
    .chart_container{
        flex-direction: column;
        height: 100vh;
    }
}