body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
 /* 3 line */
.sidebar-nav {
  width: var(--offcanvas-width);
  display: flex;
}
 /* 3 dot */
 .sidebar-link {
  width: var(--offcanvas-width);
  display: flex;
  
}
/* .sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}  */
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }

  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
    
  }
}

@media screen and (max-width: 680px)
{
  #sidebar {
    /* position: relative; */
    margin-top: 3.5rem;
}
}

/* Card size */

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  margin-left: 20%;
 
 
}

/* image size */
#card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.card-body{
  margin-top: 10rem;
}

/* upeer black part of card */
.ds-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: black;
  /* animation: dsTop 1.5s; */
}
/* image holder */
.avatar-holder {
  position: absolute;
  margin: auto;
  margin-top: 8%;
  margin-left: 5%;
  width: 150px;
  height: 150px;

  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,;
  background: white;
  overflow: hidden;
  animation: mvTop 1.5s;
  border: solid 5px #555;
}
/* user name and rating name */
.name{
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name{
  text-align: center;
}
#detail{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

/* footer part of card */
.col-sm{
  font-family:sans-serif;
  font-size: 2rem;
  animation: fadeInMove 2s;
  animation-fill-mode: forwards;
  text-align: center;
}
.col-sm:hover{
  color:#B15DFF;
}

/* all animation */
@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes mvTop {
  0% {top: -150px;}
  100% {top: 0px;}
}

@keyframes dsTop {
  0% {top: -150px;}
  100% {top: 0;}
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (max-width: 720px) {
  .ds-top {
    height: 10%;
  }
  .avatar-holder{
    width: 70px;
    height: 70px;
    /* margin: 20%; */
  }
  #name{
    margin-top:-4rem;
  }
  .card{
    width: 80%;
    margin: 0 auto;
  }
  .col-sm{
    display: flex;
    justify-content:space-around;
  }
 
} 