/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --first-color: #B15DFF;
  --input-color: #80868B;
  --border-color: #DADCE0;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}
 /******** Color Selection Reference*********/
/* :root{
  /*Light Theme 
--first-color: #F4F4F4;
--second-color: #8C4D79;
--font-color: #121212;
--h1toh6-color:#000000;
--card-color:#ffffff;
submit button hover:#03DAC5

/*Dark Theme 
--first-color: #121212;
--second-color: #BB86FC;
--font-color: #D7D7D7;
--h1toh6-color:#FFFFFF;
--card-color:#202124;
} */

/******** Nav bar *********/

.navcolor{
    background-color: #333335; 
}

.material-icons:hover{
    color: var(--first-color);
}

@media (min-width: 992px) {
  .navbar a {
    margin-left: 1em;
    margin-right: 1em;
  }
}


/********* Remove Scroll Effect ***********/
html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

/*===== Username Card BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  background-color: #202124;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
h1{
  margin: 0;
}

/******** Username Input ************/
.l-form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  padding-right: 50px;
}

@media (min-width: 200px){
  .l-form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  padding-left: 50px;
  }
}

.form{
  background-color:#262729 ;
  width: 360px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(121, 122, 122, 0.2);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.form:hover{
    background-color: #333335;
    top: -10px;   
}

.form__title{
  color :#D7D7D7;
  font-weight: 400;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.form__div{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #D7D7D7;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color:#262729 ;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: .3s;
}

.form__button{
  display: block;
  margin-left: auto;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.form__button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
  background-color: #03DAC5;
  color: #000;
}

/*Input focus move up label*/
.form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
  background-color: #333335;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form__input:focus{
  border: 1.5px solid var(--first-color);
}

.codeforce-icon {
  align-items: center;
  width: 100%;
  height: 60px;
}
/************ End Of Username Input ************/
